KALSHI_API_KEY_ID=your_kalshi_api_key_id
KALSHI_PRIVATE_KEY_PEM=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
PUBLIC_BASE_URL=
BACKUP_INTERVAL_SECONDS=900
RETENTION_DAYS=3
BUCKET=
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
ENDPOINT=
REGION=auto
